<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="dark light" />
  <title>ten@earth ~{{ '/'+title if title != 'home' }}</title>

  <link rel="stylesheet" href="/assets/css/theme.css" />
  <link rel="stylesheet" href="/assets/css/prism.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />

  {% if page.url == '/' %}
  <link rel="stylesheet" href="https://neossg.neocities.org/onionring.css" />
  <link rel="stylesheet" href="https://teethinvitro.neocities.org/webring/linuxring/script/onionring.css" />
  {% endif %}

  <link rel="me" href="https://tech.lgbt/@karma" />
  <link rel="me" href="mailto:10kph@proton.me">

  <link rel="shortcut icon" href="/assets/img/b08-icon-pc.gif" type="image/gif">

  <!---
  
  <link rel="preload" href="/assets/fonts/AnonymousPro-Regular.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/AnonymousPro-Italic.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/AnonymousPro-BoldItalic.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/AnonymousPro-Bold.woff2" as="font" type="font/woff2" crossorigin="">>

  --->
  
  <link rel="preload" href="/assets/fonts/MS-PGothic.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/GoMono-Regular.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/GoMono-Italic.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/GoMono-BoldItalic.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/GoMono-Bold.woff2" as="font" type="font/woff2" crossorigin="">
  <link rel="preload" href="/assets/fonts/LibreBaskerville-Italic.woff2" as="font" type="font/woff2" crossorigin="">

  {% if page.url == '/links/' %}<script src="/assets/js/index.js"></script>{% endif %}
</head>

<body>
  {% include "partials/navigation.njk" %}
  <main>
    <article>
      {% include "partials/header.njk" %}
      {{ content | safe }}
    </article>
  </main>
  {% if page.url == '/' %}
  <footer>{% include "partials/webrings.njk" %}</footer>
  {% endif %}
</body>

</html>