---
layout: bookbase.njk
---

{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

<p>
<div class="grid two-col-flex">
  <span class="label">posted</span> <span>{{ date | toUTC }}</span>
</div>
</p>

<section>
  {{ content | safe }}
</section>

<section class="footer">
  {% if previousPost %}<a href="{{ previousPost.url }}" class="button"><- previous post</a>{% endif %}
  {% if nextPost %}<a href="{{ nextPost.url }}" class="button">next post -></a>{% endif %}
</section>