@charset "UTF-8";

@font-face {
  font-family: "MS PGothic";
  src: local("MS PGothic"), local("MS-PGothic"),
    url("/assets/fonts/MS-PGothic.woff2") format("woff2"),
    url("/assets/fonts/MS-PGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bianzhidai_noBG Base";
  src: local("bianzhidai_noBG-Base"), local("bianzhidai_noBG Base"),
    url("/assets/fonts/bianzhidai_noBG-Base.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: local("Redaction_50"), local("Redaction50"),
    url("/assets/fonts/Redaction_50-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: local("Redaction_50-Italic"), local("Redaction50-Italic"),
    url("/assets/fonts/Redaction_50-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: local("Redaction_50-Bold"), local("Redaction50-Bold"),
  url("/assets/fonts/Redaction_50-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* BASE */

:root {
  /* Typography */
  --type--2: clamp(0.6076rem, 0.5881rem + 0.0838vw, 0.64rem);
  --type--1: clamp(0.7292rem, 0.6863rem + 0.1834vw, 0.8rem);
  --type-0: clamp(0.875rem, 0.7994rem + 0.3236vw, 1rem);
  --type-1: clamp(1.05rem, 0.929rem + 0.5178vw, 1.25rem);
  --type-2: clamp(1.26rem, 1.0769rem + 0.7832vw, 1.5625rem);
  --type-3: clamp(1.512rem, 1.245rem + 1.1421vw, 1.9531rem);
  --type-4: clamp(1.8144rem, 1.4349rem + 1.6233vw, 2.4414rem);
  --type-5: clamp(2.1773rem, 1.6481rem + 2.264vw, 3.0518rem);

  /* Heading 1 */
  --type-s-xl: clamp(4.0625rem, 2.3555rem + 7.2832vw, 8rem);
  --type-s-l: clamp(3.125rem, 1.0116rem + 9.0173vw, 8rem);
  --space-s-s: clamp(-0.5625rem, -0.1145rem + -0.578vw, -0.25rem);
  --space-2xs-s: clamp(-0.625rem, -0.177rem + -0.578vw, -0.25rem);
  
  /* Spacing */
  --space-3xs: clamp(0.25rem, 0.2228rem + 0.1157vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4456rem + 0.2315vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6684rem + 0.3472vw, 0.9375rem);
  --space-s: clamp(1rem, 0.8912rem + 0.463vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3368rem + 0.6944vw, 1.875rem);
  --space-l: clamp(2rem, 1.7824rem + 0.9259vw, 2.5rem);
  --space-xl: clamp(3rem, 2.6736rem + 1.3889vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.5648rem + 1.8519vw, 5rem);
  --space-3xl: clamp(6rem, 5.3472rem + 2.7778vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.0868rem + 0.6944vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3096rem + 0.8102vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5324rem + 0.9259vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.6192rem + 1.6204vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.0648rem + 1.8519vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.2384rem + 3.2407vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.1296rem + 3.7037vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.4769rem + 6.4815vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.3472rem + 2.7778vw, 2.5rem);

  /* Grid */
  /* @link https://utopia.fyi/grid/calculator?c=376,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.3472rem + 2.7778vw, 2.5rem));
  --grid-columns: 12;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-primary);
  color: var(--text-primary);
  scrollbar-color: var(--color-lavender) var(--background-primary);
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-lavender);
}

::selection {
  background: var(--color-lavender);
  color: var(--background-primary);
}

:lang(ja) {
  font-family: "M Plus Rounded 1c";
}

h2 > span:lang(ja) {
  font-family: "DotGothic16";
}

body {
  font-size: var(--type-0);
  font-family: "Victor Mono", "CommitMonoLig", monospace;
  line-height: 1.5;
}

header,
article,
footer {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gutter);
  width:100%;
  max-width: var(--grid-max-width);
  padding: var(--grid-gutter);
}

nav {
  grid-area: 1 / 1 / auto / -1;
}

section {
  grid-column: 1 / -1;
}

section {
  grid-row: 3;
  word-wrap: break-word;
}

nav ul,
section.footer {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.75ch;
  row-gap: 1.5ch;
}

nav li a,
section.footer a,
section.cards div p > a.link,
button.button {
  font-weight: 700;
  background-color: var(--color-lavender);
  color: var(--background-primary);
  padding: 0 1ch;
  text-decoration: none;
  line-height: 1.1;
  border: 1px solid var(--color-lavender);
  border-radius: 10px;
}

nav li a.active,
section.footer a.active,
nav li a:hover,
nav li a:focus,
section.footer a:hover,
section.footer a:focus,
section.cards div p > a.link:hover,
section.cards div p > a.link:focus,
button.button:hover,
button.button:focus {
  background-color: var(--background-primary);
  color: var(--color-lavender);
  border: 1px solid var(--color-lavender);
}

ul.breadcrumb-list {
  padding: 1rem 0;
  display: flex;
  gap: 1ch;
  transform: rotate(90deg);
  margin: 0;
}

li.breadcrumb-item {
  list-style: none;
  padding: 0;
}

li.breadcrumb-item:not(:first-of-type)::before {
  content: "-> ";
  font-weight: bold;
}

li.breadcrumb-item a {
  text-decoration: none;
  font-weight: bold;
  padding: 0 1ch;
  display: inline-block;
  line-height: 1.3;
  color: var(--color-primary);
}

li.breadcrumb-item:nth-child(odd) a {
  background-color: var(--background-blue);
  color: var(--color-blue);
}

li.breadcrumb-item:nth-child(odd) a:hover {
  background-color: var(--color-blue);
}

li.breadcrumb-item:nth-child(even) a {
  background-color: var(--background-purple2);
  color: var(--color-purple);
}

li.breadcrumb-item:nth-child(even) a:hover {
  background-color: var(--color-peach);
}

li.breadcrumb-item a:hover {
  color: var(--background-primary);
}

button.button {
  cursor: pointer;
  font-family: "Victor Mono","CommitMonoLig", monospace;
  font-size: var(--type-0);
  line-height: 1.3;
}

a {
  color: var(--color-peach);
  text-decoration-style: wavy;
}

a:hover,
a:focus {
  color: var(--color-green);
}

[id] {
  scroll-margin-block-start: 0;
}

p {
  margin: var(--space-m) 0;
}

p img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

p:has(img) {
  line-height: 1.6;
}

ul:not(nav ul) {
  margin-inline: var(--space-s);
  margin-block: var(--space-m);
  line-height: 1.5;
}

ul:not(nav ul) li {
  list-style-type: "~>";
  padding-inline-start: var(--space-2xs);
  margin-block: var(--space-3xs);
}

ul:not(nav ul) ul {
  margin-inline-start: var(--space-s);
  margin-block: 0;
}

p > ul:last-child,
div > ul:last-child {
  margin-block-end: var(--space-l);
}

ol {
  margin: var(--space-m);
  line-height: 1.5;
}

ol ol {
  margin-inline-start: var(--space-m);
  margin-block: 0;
}

ol li p {
  margin: var(--space-2xs) 0;
}

h1 {
  font-family: "bianzhidai_noBG Base";
  font-size: var(--type-s-l);
  font-weight: normal;
  letter-spacing: var(--space-s-s);
  margin-block-end: var(--space-l);
  line-height: 1;
  text-align: center;
  grid-area: 1 / 1 / auto / -1
}

h1.site-title {
  font-size: var(--type-s-xl);
  letter-spacing: var(--space-2xs-s);
}

h2 {
  font-size: var(--type-4);
  margin-block-start: var(--space-2xl);
  font-family: "Redaction 50";
}

h2:first-child {
  margin-block-start: 0;
}

h3 {
  font-size: var(--type-2);
  font-style: italic;
  margin-block-start: var(--space-m);
}

h1 {
  color: var(--color-lavender);
}

h2,
h3,
h4 {
  color: var(--color-pink);
}

blockquote {
  padding: var(--space-s) var(--space-m);
  color: var(--text-tertiary); 
}

blockquote p {
  margin: 0;
}

mark {
  background-color: var(--color-sapphire);
  color: var(--background-primary);
  padding-inline: 1ch;
  font-size: var(--type--1);
  cursor: default;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px;
}

mark.warning {
  background-color: var(--color-yellow);
}

mark.error {
  background-color: var(--color-red);
}

mark.primary {
  background-color: var(--color-mauve);
}

.vertical {
  flex-direction: column;
}

pre.ascii {
  background-color: transparent;
  font-family: "MS PGothic", "MS Gothic", monospace;
  line-height: 1;
  color: var(--text-tertiary); 
}

rt {
  font-size: var(--type--1);
}

hr {
  color: var(--background-tertiary);
  margin: 0 var(--space-2xl);
}

span.label {
  color: var(--color-sapphire);
}

b, strong {
  color: var(--color-sapphire);
}

@media screen and (min-width: 768px) {
  nav ul,
  section.footer {
    column-gap: 4ch;
  }

  ul.breadcrumb-list {
    grid-row: 3;
    grid-column: 8;
    align-self: start;
  }
}

@media screen and (min-width: 811px) {
  h1 {
    text-align: left;
  }

  section {
    grid-column: 1 / span 7;
  }
}

/* 88X31 BUTTON OUTLINKS */

.outlink-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.outlink {
  width: 88px;
  height: 31px;
  font-size: var(--type--2);
  text-transform: uppercase;
  word-wrap: break-word;
  line-height: 1.1;
  text-align: center;
  text-decoration-style: dotted;
  display: grid;
  place-content: center;
  grid-template-columns: 88px;
  font-weight: 700;
}

.outlink img {
  width: 88px;
}

a.outlink:has(img[src=""]) {
  border: 1px dotted var(--color-lavender);
  color: var(--background-primary);
}

a.outlink:has(img[src=""]):nth-child(3n) {
  background-color: var(--color-sky);
}

a.outlink:has(img[src=""]):nth-child(3n + 1) {
  background-color: var(--color-lavender);
}

a.outlink:has(img[src=""]):nth-child(3n + 2) {
  background-color: var(--color-pink);
}

.outlink-group .outlink:hover,
.outlink-group .outlink:active {
  transform: scale(0.95);
}

/* WEBRINGS */

.webring {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  margin: var(--space-m) 0;
}

.webring a {
  text-decoration: none;
}

div#neossg,
div#neossg table {
  margin: 0;
  padding: 0;
}

div#neossg a {
  text-decoration: none;
}

div#neossg tr td {
  padding: 0 2px;
}

div#linuxring {
  padding: 0;
}

div#linuxring table {
  background-color: var(--background-primary);
  color: var(--color-primary);
}

div#linuxring td a {
  color: var(--color-yellow);
}
