@charset "UTF-8";

/* BASE */

html {
  font-size: 18px;
  scroll-behavior: smooth;
  background-color: var(--background-primary);
  color: var(--color-primary);
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--background-primary);
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  font-family: "Anonymous Pro", "Inconsolata", "Lucida Sans Unicode",
    "Courier New", Courier, monospace;
  counter-reset: sidenote-counter;
  box-sizing: border-box;
  line-height: 1.5;
}

article {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

footer {
  margin: -2rem 0 0 0;
  display: flex;
  flex-direction: column;
}

/* UTIL */

.button,
h1,
h2,
h3 {
  box-shadow: 8px 8px var(--color-black);
  padding: 2px 2.5em 2px 0.5em;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr; 
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.5rem;
}

.grid.four {
  grid-template-columns: 1fr 3fr 1fr 3fr; 
}

.grid span {
  padding: 2px 0;
  flex-grow: 4;
}

.grid span.label {
  padding: 0 2em 0 0;
  cursor: default;
  background: var(--background-blue);
  font-weight: bold;
  height: 24px;
  flex-shrink: 1;
  width: 140px;
}

.grid.four span.label {
  width: 100px;
}

.label::before {
  content: "■";
  color: var(--color-blue);
  padding-inline-end: 10px;
}

/* EXTERNAL LINK */
/* SOURCE: https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
a[href^="http"]::after,
a[href^="https://"]::after
{
  content: "\01F865";
  margin-left: 4px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size:0.75em;
}

a[href^="localhost:8080"]::after,
a[href^="https://10kph.neocities.org"]::after,
section.webring a::after {
  display: none !important;
}

/* WEBRINGS */

.webring {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

div#neossg,
div#neossg table {
  margin: 0;
  padding: 0;
}

div#neossg a {
  text-decoration: none;
}

div#neossg tr td {
  padding: 0 2px;
}

div#linuxring {
  padding: 0;
}

div#linuxring table {
  background-color: var(--background-primary);
  color: var(--color-primary);
}

div#linuxring td a {
  color: var(--color-yellow);
}

/* TYPOGRAPHY */

.title {
  color: var(--background-primary);
  background: var(--color-red);
  cursor: default;
}

h1,
h2,
h3 {
  color: var(--background-primary);
  margin: 1em 0;
  cursor: default;
  width: max-content;
  height: 1.25em;
}

h1 {
  font-size: 1.8em;
  margin: 1.75em 0;
}

h2 {
  background: var(--color-yellow);
  font-size: 1.4em;
  margin: 1.5em 0;
}

h3 {
  background: var(--color-green);
  margin: 1.5em 0;
}

p {
  margin: 0.5rem 0;
}

p:last-child {
  margin: 0.5rem 0 1rem 0;
}

a, a:visited {
  color: var(--color-yellow);
}

a:hover {
  color: var(--color-green);
}

b, strong {
  color: var(--color-blue);
}

ul {
  padding-inline-start: 1.75rem;
}

ul li {
  list-style-type: "»";
  padding-inline-start: 1em;
}

blockquote {
  font-size: 1em;
  font-style: italic;
  margin-left: 25px;
}

blockquote p:first-of-type::before {
  content: ">";
  display: block;
  position: absolute;
  left: -25px;
  color: var(--color-yellow);
  font-style: normal;
}

blockquote p {
  /* width: 50%; */
  /* margin-right: 40px; */
  position: relative;
}

/* NAVIGATION */

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline-start: 0;
}

nav li {
  list-style: none;
  padding-inline-start: 0;
}

nav a.button {
  padding: 1px 2em 1px 0;
  text-decoration: none;
  background: var(--background-yellow);
  text-transform: lowercase;
}

nav a::before {
  content: "■";
  padding-inline-end: 10px;
}

nav li:active,
a.button {
  transform: scale(0.95);
}

nav li:hover a {
  background: var(--background-green);
}


/* ASCII */
.ascii {
  background-color: transparent;
  letter-spacing: normal;
  font-family: 'MS PGothic', 'MS Gothic', monospace;
  line-height: 1;
  padding: 1em;
}

/* MEDIA QUERY */

@media (max-width: 811px) {
  nav {
    margin: 0 2rem;
  }

  nav ul {
    justify-content: left;
  }

  article {
    margin: 2rem;
  }

  footer {
    margin: -4rem 2rem 2rem 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0.5rem;
  }
}
