@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #eff1f5;
    --background-secondary: #e6e9ef;
    --background-tertiary: #ccd0da;
    --text-primary: #1e1e2e;
    --text-secondary: #4c4f69;
    --text-tertiary: #6c6f85;

    --selection-bg: #acb0be;

    --color-rosewater: #dc8a78;
    --color-flamingo: #dd7878;
    --color-pink: #ea76cb;
    --color-mauve: #8839ef;
    --color-red: #d20f39;
    --color-maroon: #e64553;
    --color-peach: #fe640b;
    --color-yellow: #df8e1d;
    --color-green: #40a02b;
    --color-teal: #179299;
    --color-sky: #04a5e5;
    --color-sapphire: #209fb5;
    --color-blue: #1e66f5;
    --color-lavender: #7287fd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #1e1e2e;
    --background-secondary: #11111b;
    --background-tertiary: #313244;
    --text-primary: #cdd6f4;
    --text-secondary: #a6adc8;
    --text-tertiary: #6c7086;

    --selection-bg: #585b70;

    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;
  }
}

html[data-theme="light"] {
  --background-primary: #eff1f5;
  --background-secondary: #e6e9ef;
  --background-tertiary: #ccd0da;
  --text-primary: #1e1e2e;
  --text-secondary: #4c4f69;
  --text-tertiary: #6c6f85;

  --selection-bg: #acb0be;

  --color-rosewater: #dc8a78;
  --color-flamingo: #dd7878;
  --color-pink: #ea76cb;
  --color-mauve: #8839ef;
  --color-red: #d20f39;
  --color-maroon: #e64553;
  --color-peach: #fe640b;
  --color-yellow: #df8e1d;
  --color-green: #40a02b;
  --color-teal: #179299;
  --color-sky: #04a5e5;
  --color-sapphire: #209fb5;
  --color-blue: #1e66f5;
  --color-lavender: #7287fd;
}

html[data-theme="dark"] {
  --background-primary: #1e1e2e;
  --background-secondary: #11111b;
  --background-tertiary: #313244;
  --text-primary: #cdd6f4;
  --text-secondary: #a6adc8;
  --text-tertiary: #6c7086;

  --selection-bg: #585b70;

  --color-rosewater: #f5e0dc;
  --color-flamingo: #f2cdcd;
  --color-pink: #f5c2e7;
  --color-mauve: #cba6f7;
  --color-red: #f38ba8;
  --color-maroon: #eba0ac;
  --color-peach: #fab387;
  --color-yellow: #f9e2af;
  --color-green: #a6e3a1;
  --color-teal: #94e2d5;
  --color-sky: #89dceb;
  --color-sapphire: #74c7ec;
  --color-blue: #89b4fa;
  --color-lavender: #b4befe;
}
