<ul class="breadcrumb-list">
  {% if title != "books/2023" %}<li class="breadcrumb-item"><a href="/logs/books/2023">2023</a></li>{% endif %}
  {% if title != "books/2022" %}<li class="breadcrumb-item"><a href="/logs/books/2022">2022</a></li>{% endif %}
  {% if title != "books/2021" %}<li class="breadcrumb-item"><a href="/logs/books/2021">2021</a></li>{% endif %}
</ul>