<ul class="breadcrumb-list">
  {% if title != "2023 reads" %}<li class="breadcrumb-item"><a href="/logs/books/2023">2023</a></li>{% endif %}
  {% if title != "2022 reads" %}<li class="breadcrumb-item"><a href="/logs/books/2022">2022</a></li>{% endif %}
  {% if title != "2021 reads" %}<li class="breadcrumb-item"><a href="/logs/books/2021">2021</a></li>{% endif %}
</ul>