<nav>
  <ul class="footer">
    <li><a href="#top">back to top</a></li>
    <li><a href="/site-info" {% if page.url=='/site-info/' %}class="active" {% endif %}>site info</a></li>
    <li><a href="/sitemap" {% if page.url=='/sitemap/' %}class="active" {% endif %}>sitemap</a></li>
  </ul>
</nav>