{% set navOptions = { "listClass": "breadcrumb-list", "listItemClass": "breadcrumb-item", "activeAnchorClass": "active", "activeKey": eleventyNavigation.key } %}

{{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { allowMissing: true }) | eleventyNavigationToHtml(navOptions) | safe }}

<h1>{% if page.url == '/' %}{% lang %}カルマ・{% endlang %}karuma{% else %}{{ title }}{% endif %}</h1>