{% if movies_watched %}

{% assign movies24 = movies_watched | where: 'YearWatched', 2024 %}
{% assign newmovies24 = movies24 | where: 'Rewatch', null %}

{% if movies24 %}
<h2>2024</h2>

<div class="grid two-col-flex">
  <div class="grid">
    <span class="label">total</span>
    <span>{{ movies24.size }} movies</span>
    <span class="label">first watch</span>
    <span>{{ newmovies24.size }} movies</span>
  </div>
</div>
<p></p>

<ul class="log">
  {% for movie in movies24 %}
  {% assign directors = movie.Directors %}
  {% include "partials/movie.liquid" %}
  {% endfor %}
</ul>
{% endif %}

{% endif %}