<header>
  <nav>
    <ul>
      {% for nav in collections.all | eleventyNavigation %}
      <li><a href="{{ nav.url }}"{% if nav.url == page.url%} class="active" aria-current="page"{% endif %}>{{ nav.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>